
.calculator-container logo {
    opacity: 1;
    max-width: 100%;
}
.calculator-container {
  //  margin: 0 auto;
    max-width: 100%;
    text-align: center;
    padding: 50px 20px;
    width: auto;
}

.calculator-container p {
    opacity: 0;
    line-height: 1.4;
    color: #000000;
    font-family: Vazirmatn, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font: normal normal normal 18px/28px Vazirmatn;
}
.calculator-container a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-family: "Poppins", Sans-serif;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 30px;
    background-color: #5261A9;
    position: relative;
    overflow: hidden;
    animation: fadeIn 1s, pulse 1s infinite alternate; /* Pulsating and Fade-In Animation */

}
.calculator-container a.pulse-off {
    animation: none; /* Turn off Pulsating Animation */
}
.calculator-container a p {
    margin: 0;
}
.calculator-container a:hover {
    background: #EE7D62;
    animation: none; /* Mouse hover interrupts the pulsating animation */
}
.calculator-btn {
    opacity: 0;
}
.calculator-hidden {
    display: none !important;
}

@keyframes pulse {
    to {
        transform: scale(1.05);
    }
}
.calculator-container p:hover {
    background: #EE7D62;
}

@media screen and (max-width: 600px) {
    .calculator-container {
        padding: 30px 10px;
    }
    .calculator-container h2 {
        font-size: 20px;
    }
    .calculator-container p {
        margin-top: 30px;
    }
    .calculator-safari {
        padding: 0 10px;
    }
}
